
body {
    background: linear-gradient(45deg, transparent 49%, #f4ba46 49% 51%, transparent 51%) , linear-gradient(-45deg, transparent 49%, #f4ba46 49% 51%, transparent 51%);
    background-size: 5em 5em;
    background-color: #762119;
    opacity: 1
}

.container {
    width: 100%;
    height: 100%;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* color: #762119;
    color: #f4ba46 */
}

.card {
    color: #480e05;
    width: 500px;
}

/* #bg-image {
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(118, 33, 25, 0.32), rgba(244, 186, 70, 0.52)), url("../img/ul-2.jpg") no-repeat 50% 50%/cover, #000;
    height: 100%;
    width: 100%;
} */