
@font-face {
    font-family: "Bohemian Soul";
    src: url("../font/Bohemian\ Soul.otf");
}

@font-face {
    font-family: "Montena Golden";
    src: url("../font/MotenaGolden-Reguler.ttf");
}

td > input {
    font-weight: bold;
}

body {
    background: linear-gradient(90deg, #d8c59f 0%, #f3efde 100%);
}

.header, .heading {
    font-family: 'Bohemian Soul';
    background: linear-gradient(90deg, #cbad7e 0%, #e7d095 100%);
    border-bottom: 2px solid #c6ab7e;
    color: #300607;
}

.table-bg {
    background-color: #faf8ef;
    border: 2px solid #d8c59f;
}

.list-group {
    font-family: "Bohemian Soul";
    font-size: 15px;
}

#scores-container {
    height: 542px;
    overflow: auto;
}

#cnddt-img-container {
    height: 420px;
}

#cnddt-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#cnddt-info {
    height: 118px;
}

#judge-info {
    position: fixed;
    top: 0;
    right: 12px;
    width: 250px;
    height: 30px;
    font-family: "Bohemian Soul";
    text-align: center;
    background: #ECE4CE;
    border-bottom: 2px solid #300607;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}